nodeRED.txt
[{"id":"8c5742d1.8e7ba","type":"split","z":"36cf03a8.89914c","name":"","splt":",","x":341,"y":88,"wires":[["7539eec2.a9207"]]},{"id":"105a5951.8ecb17","type":"websocket in","z":"36cf03a8.89914c","name":"Incoming","server":"3ffb42f8.48c21e","client":"","x":208,"y":88,"wires":[["8c5742d1.8e7ba"]]},{"id":"7539eec2.a9207","type":"switch","z":"36cf03a8.89914c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"cmd","vt":"str"},{"t":"cont","v":"stat","vt":"str"}],"checkall":"true","outputs":2,"x":356,"y":179,"wires":[["bcd577da.cd0688"],["3f2005e.54bfefa"]]},{"id":"bcd577da.cd0688","type":"function","z":"36cf03a8.89914c","name":"getStatCMD","func":"var ledid = msg.payload.replace('cmd','');\nmsg.statid = 'stat' + ledid;\nvar ledpre = '/sys/devices/platform/leds/leds/beaglebone:green:usr';\nvar ledpos = '/brightness';\n\nmsg.filename = ledpre + ledid + ledpos;\nmsg.statid = ledid;\n\nreturn msg;","outputs":1,"noerr":0,"x":497,"y":132,"wires":[["8caad1fd.eb062"]]},{"id":"3f2005e.54bfefa","type":"function","z":"36cf03a8.89914c","name":"getStat","func":"var ledid = msg.payload.replace('stat','');\nvar ledpre = '/sys/devices/platform/leds/leds/beaglebone:green:usr';\nvar ledpos = '/brightness';\n\nmsg.filename = ledpre + ledid + ledpos;\nmsg.statid = ledid;\n\nreturn msg;","outputs":"1","noerr":0,"x":513,"y":237,"wires":[["88f0066c.fa6ff8"]]},{"id":"8caad1fd.eb062","type":"file in","z":"36cf03a8.89914c","name":"led","filename":"","format":"utf8","x":637,"y":132,"wires":[["6638d537.7ffe0c"]]},{"id":"88f0066c.fa6ff8","type":"file in","z":"36cf03a8.89914c","name":"led","filename":"","format":"utf8","x":723,"y":373,"wires":[["ba3fd1cc.bc4f4"]]},{"id":"6638d537.7ffe0c","type":"function","z":"36cf03a8.89914c","name":"toggleStat","func":"var ledStat = Number(msg.payload);\n\nif (ledStat === 0) {\n    msg.payload = \"1\";\n} else if (ledStat > 0) {\n    msg.payload = \"0\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":768,"y":88,"wires":[["b6f21ac6.7e9788","ba3fd1cc.bc4f4"]]},{"id":"ba3fd1cc.bc4f4","type":"function","z":"36cf03a8.89914c","name":"formatStat","func":"var ledStat = Number(msg.payload);\n\nmsg.payload = msg.statid + \":\" + ledStat;\n\nreturn msg;","outputs":1,"noerr":0,"x":998,"y":374,"wires":[["698943fb.b4d4cc"]]},{"id":"fb1b44f.6ac5ab8","type":"function","z":"36cf03a8.89914c","name":"getChange","func":"var ledid = msg.payload.replace('stat','');\nvar ledpre = '/sys/devices/platform/leds/leds/beaglebone:green:usr';\nvar ledpos = '/brightness';\n\nmsg.filename = msg.payload;\nmsg.statid = msg.payload.replace(ledpre,'');\nmsg.statid = msg.statid.replace(ledpos,'');\n\nreturn msg;","outputs":"1","noerr":0,"x":479,"y":372,"wires":[["88f0066c.fa6ff8"]]},{"id":"b6f21ac6.7e9788","type":"file","z":"36cf03a8.89914c","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":922,"y":88,"wires":[]},{"id":"698943fb.b4d4cc","type":"websocket out","z":"36cf03a8.89914c","name":"","server":"3ffb42f8.48c21e","client":"","x":1165,"y":373,"wires":[]},{"id":"6e3a33ba.ad250c","type":"watch","z":"36cf03a8.89914c","name":"0","files":"/sys/devices/platform/leds/leds/beaglebone:green:usr0/brightness","x":278,"y":340,"wires":[["fb1b44f.6ac5ab8"]]},{"id":"259c8fcf.5c064","type":"watch","z":"36cf03a8.89914c","name":"1","files":"/sys/devices/platform/leds/leds/beaglebone:green:usr1/brightness","x":276,"y":412,"wires":[["fb1b44f.6ac5ab8"]]},{"id":"3ffb42f8.48c21e","type":"websocket-listener","z":"36cf03a8.89914c","path":"/dash","wholemsg":"false"}]
